body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-header {
  background-color: lightblue;
  overflow: hidden;
}

.my-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

.client-tabel {
  clear: left;
}

.my-ul {
  float: left;
  margin-top: 18px;
  margin-bottom: 0px;
}

.my-li {
  list-style: none;
}